build/
reports/
logs/
xilinx-local/
hd_visual/
.Xil/
.run/
*.log
*.jou
*.run_summary
*.compile_summary
*.link_summary
*.xclbin
*.xo
*.csv
.ipcache/
hardware/chisel/generated/
hardware/chisel/target/
hardware/chisel/project/target/
*.fir
*.anno.json
metals.sbt
.bsp/
.scala-build/
